* {
  margin: 0;
  padding: 0;
}

html,
body,
main {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

h1 {
  background-color: #F5BB00;
  width: 100%;
  text-align: center;
  padding: 1.50%;
  font-size: 3em;
  color: #2176AE;
}

main {
  display: flex;
  justify-content: space-around;
}

.column {
  width: 30%;
  border: solid 1px green
}

.column:nth-child(2){
  display: flex;
  flex-direction: column;
  width: 40%;
}

h3 {
  margin: 1%;
  margin-top: 3%;
  font-size: 2em;
}

.button-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: solid pink;
}

.button {
  display: block;
  font-size: 1.5em;
  margin: 2.5%;
  padding: 1% 3%;
  width: fit-content;
  height: fit-content;
}
